* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    margin: 0;
    background-color: #bd4d24;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 2px;
    padding: 15px;
}

main {
    margin: 0%;
    background-image: url('./room.jpg');
      
}

#instruction {
    text-align: center;
    color: white;
    padding: 10px;  
}

.container {
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #ebb915;  
}

#cifrar {
    border-radius: 10px;
}

footer {
    margin: 0%;
    text-align: center;
}